.register {
  border: 1px solid black;
  margin: 0px 20%;
  padding: 10px;
}

.home_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.home_project {
  border: 1px solid black;
  text-align: center;
  width: 40%;
  min-height: 80vh;
}

.home_deadline {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid black;
  /* text-align: center; */
  padding: 30px 0px;
  width: 40%;
}

.home_deadline h3 {

  padding: 10px;
}

.deadline_card {
  min-height: 60vh;
  min-width: 30vh;
}

.home_deadline_item_p {
  /* border: 1px solid black; */
  height: 30px;
  margin: 10px;
  /* background-color: rgba(241, 238, 195, 0.836); */

}

.home_deadline_item_t {
  /* border: 1px solid black; */
  height: 30px;
  margin: 10px;
  /* background-color: rgba(134, 195, 253, 0.836); */

}

.home_tag {
  display: flex;
  flex-flow: row wrap;
  /* color: rebeccapurple */
}

.home_task_item {

  /* background-color: rgba(240, 240, 221, 0.781); */

  text-align: left;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.home_task_content {
  width: 50%;
}

.home_select {
  margin: 20px 0px -18px;
}

.navbar_container {
  display: flex;
  justify-content: space-around;
}

.project_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.project_filter {
  border: 1px solid black;
  text-align: center;
  width: 30%;
}

.project_list {
  border: 1px solid black;
  text-align: center;
  width: 60%;
}

.project_form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  height: 60vh;
  text-align: center;

}

.project_buttons {
  display: flex;
}

.checkbox_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.check_check {
  margin: 5px;
}

.task_item {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */


  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.task_content {
  width: 50%;
}

.task_tag {

  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  width: 30%;
}

.tag_name {

  width: 40%;
}

.task_buttons {
  display: flex;
  justify-content: space-evenly;
  max-height: 60px;
  width: 30%;
}

/* .PL_item { */
/* border: 1px solid black; */
/* height: 30px;
  margin: 10px;
  width: 60%; */
/* } */