.home_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.home_project {
  border: 1px solid black;
  text-align: center;
  width: 40%;
}

.home_deadline {

  border: 1px solid black;
  text-align: center;
  width: 40%;
}

.navbar_container {
  display: flex;
  justify-content: space-around;
}

.project_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.project_filter {
  border: 1px solid black;
  text-align: center;
  width: 30%;
}

.project_list {
  border: 1px solid black;
  text-align: center;
  width: 60%;
}

.project_form {
  border: 1px solid black;
  text-align: center;

}